In [21]:
import sqlalchemy
import pandas as pd

In [15]:
!pip install pg8000

Collecting pg8000
  Downloading pg8000-1.30.3-py3-none-any.whl (54 kB)
     -------------------------------------- 54.4/54.4 kB 701.6 kB/s eta 0:00:00
Collecting scramp>=1.4.4
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pg8000) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pg8000) (1.16.0)
Collecting asn1crypto>=1.5.1
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     -------------------------------------- 105.0/105.0 kB 1.2 MB/s eta 0:00:00
Installing collected packages: asn1crypto, scramp, pg8000
Successfully installed asn1crypto-1.5.1 pg8000-1.30.3 scramp-1.4.4

[notice] A new release of pip available: 22.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

In [16]:
sqlalchemy.__version__

'2.0.23'

In [32]:
engine = sqlalchemy.create_engine(
    "postgresql+pg8000://postgres:12345@localhost/testeoab",
    isolation_level="REPEATABLE READ"
)

In [7]:

from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String

In [4]:
Base = declarative_base()

In [34]:

df = pd.read_sql_table('nups', engine, schema='observatoriooab')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573734 entries, 0 to 573733
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    573734 non-null  int64
 1   subject_cnj           573734 non-null  object
 2   class_cnj             573734 non-null  object
 3   court_code            573734 non-null  int64
 4   court_name            573734 non-null  object
 5   distribution_date     573731 non-null  datetime64[ns, UTC]
 6   cnj_number            573734 non-null  object
 7   formatted_cnj_number  573734 non-null  object
 8   judicial_secret       573734 non-null  bool
 9   process_type          573734 non-null  object
 10  filing_date           522251 non-null  datetime64[ns, UTC]
 11  class_name            573734 non-null  object
 12  nature_name           573734 non-null  object
 13  process_status        573734 non-null  object
 14  elderly_defendant     573734 non-null  bool
 15  uuid                  573734 non-null  object
 16  createdAt             573734 non-null  datetime64[ns, UTC]
 17  updatedAt             573734 non-null  datetime64[ns, UTC]
dtypes: bool(2), datetime64[ns, UTC](4), int64(2), object(10)
memory usage: 71.1+ MB

In [15]:
sessionmaker(bind = engine)

sessionmaker(class_='Session', bind=Engine(sqlite:///enterprise.db), autoflush=True, expire_on_commit=True)

In [39]:
dfSqlTable= pd.read_sql_table('nups', engine, columns= ["subject_cnj", "class_cnj"], schema='observatoriooab') 
#outras opções de busca
#dfSqlTable= pd.read_sql_table("select * from nups", schema='observatoriooab')

In [41]:
dfSqlTable.head()

,subject_cnj,class_cnj
0,Liminar,Atentado
1,Tutela e Curatela,Tutela e Curatela - Nomeação
2,Reconhecimento / Dissolução,Procedimento Ordinário
3,Precatória :: Competência da Fazenda Pública E...,Carta Precatória
4,Alienação Fiduciária,Busca e Apreensão em Alienação Fiduciária

Enviando csv para o banco de dados

In [43]:
df_automobile = pd.read_csv('automobile.csv')

In [44]:
df_automobile.head()

   symboling normalized-losses         make fuel-type aspiration
0          3                 ?  alfa-romero       gas        std
1          3                 ?  alfa-romero       gas        std
2          1                 ?  alfa-romero       gas        std
3          2               164         audi       gas        std
4          2               164         audi       gas        std

In [48]:
df_automobile.to_sql(
    name ='tb_automobile',
    con = engine, 
    schema ='observatoriooab',
    index = False 

)

205